/* select by element tab */
h1 {
    color: red
}

h2 {
    color: blue
}

header {
    color: green;
}

header > h1{
    color: yellow
}

/* select by ID */
#service {
    background-color: aqua;
}

/* select by class */
    .container .card{
    color: lime
    }

.card {
    color: purple;
}

    .container .card h1{
        color: pink
    }

    .card h1{
        color: orange
    }

    #html {
        color: brown
    }
